@import url("https://fonts.googleapis.com/css2?family=Pridi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ABeeZee&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

header {
  padding: 6px 130px;

  .burger_icon {
    display: none;
  }

  .header_logo_title {
    column-gap: 14px;

    span {
      color: #fa793c;
      font-family: Pridi;
      font-size: 18px;
      font-weight: 400;
    }
  }

  .nav_user {
    column-gap: 40px;

    .header_ul {
      column-gap: 32px;
    }

    .header_link {
      color: #000;
      font-family: ABeeZee;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      transition: 0.2s;

      &:hover {
        color: #fa793c;
      }
    }

    .active_link {
      color: #fa793c;
    }

    .user_link {
      color: black;
      transition: 0.2s;
      &:hover {
        color: #fa793c;
      }
    }
  }
}

.section1 {
  background-image: url(../../images/Georgia.jpg);
  background-repeat: no-repeat;
  padding-inline: 130px;
  height: 600px;

  h2 {
    color: #eb4b01;
    font-family: Kanit;
    font-size: 90px;
    font-weight: 400;
    line-height: 75px;
    margin-bottom: 20px;
    text-align: center;
  }

  p {
    font-family: Kanit;
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    line-height: 40px;
    text-align: center;
  }
}

.section2 {
  padding: 130px;

  .section2_title {
    color: #000;
    font-family: Kanit;
    font-size: 50px;
    font-weight: 500;
    line-height: 45px;
    margin-bottom: 35px;
    text-align: center;
  }

  .section2_cards {
    column-gap: 22px;

    .section2_card {
      border: 1px solid black;
      transition: 0.7s;
      &:hover {
        transform: scale(1.03);
        border-radius: 15px;
      }

      .card_content {
        padding: 16px 15px;

        h4 {
          color: #000;
          font-family: Kanit;
          font-size: 24px;
          font-weight: 500;
          line-height: 32px;
        }

        .section2_card_text {
          color: #000;
          font-family: Kanit;
          font-size: 18px;
          font-weight: 400;
          line-height: 24px;
          margin: 8px 0 24px;
        }
      }

      .section2_card_img {
        width: 100%;
        height: 350px;
        object-fit: cover;
        transition: 0.7s;
        &:hover {
          border-top-left-radius: 15px;
          border-top-right-radius: 15px;
        }
      }
    }
  }

  .time_container {
    column-gap: 10px;

    p {
      color: #000;
      font-family: Kanit;
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
    }
  }
}

.section3 {
  padding-inline: 130px;
  .section3_cards {
    column-gap: 20px;

    .section3_card_left {
      width: 780px;
      height: 400px;
      background-image: url(../../images/photograph1.jpg);
      background-repeat: no-repeat;
      background-position: center;
      padding-inline: 37px;
      transition: 0.7s;

      &:hover {
        transform: scale(1.03);
        filter: grayscale(50%);
        border-radius: 50%;
      }

      h2 {
        color: #fff;
        font-family: Kanit;
        font-size: 30px;
        font-style: normal;
        font-weight: 500;
        line-height: 38px;
        margin-bottom: 16px;
      }

      p {
        color: #fff;
        font-family: Kanit;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
      }
    }

    .section3_card_right {
      width: 380px;
      flex-direction: column;

      .right_side_img {
        width: 100%;
        height: 190px;
        object-fit: cover;
        transition: 0.7s;
        &:hover {
          transform: scale(1.03);
          filter: grayscale(50%);
        }
      }
    }
  }

  form {
    max-width: 350px;
    margin: auto;

    h5 {
      font-family: ABeeZee;
      font-weight: 600;
    }

    input {
      width: 100%;
      padding: 8px;
      box-sizing: border-box;
      background-color: transparent;
      border: 1px solid #fa793c;
      border-radius: 5px;
    }

    button {
      background-color: #fa793c;
      color: white;
      padding: 10px 15px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-weight: 500;
    }
  }
}

footer {
  margin-top: 110px;
  padding-block: 15px;
  background-color: black;
  width: 100%;

  .foot_content {
    column-gap: 14px;
  }

  .foot_text {
    color: #fff;
    font-family: Pridi;
    font-size: 18px;
    font-weight: 400;
  }
}

@media (max-width: 1025px) {
  header,
  .section1,
  .section2,
  .section3 {
    padding-inline: 92px;
  }

  .section1 {
    h2 {
      font-size: 60px;
    }

    p {
      font-size: 20px;
      line-height: 25px;
    }
  }

  .section2 {
    .section2_cards {
      flex-direction: column;
      row-gap: 15px;
    }
  }

  .section3 {
    .section3_cards {
      flex-direction: column;
      row-gap: 15px;

      .section3_card_left {
        width: 100%;
        height: 359px;
      }

      .section3_card_right {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;

        .right_side_img {
          width: 48%;
        }
      }
    }
  }
}

@media (max-width: 835px) {
  header {
    padding-inline: 67px;

    .header_nav {
      display: none;
    }

    .burger_icon {
      display: block;
    }
  }

  .section1 {
    padding-inline: 67px;
    height: 498px;
  }

  .section2 {
    padding: 80px 67px;
  }

  .section3 {
    padding-inline: 67px;
    margin-bottom: 80px;
  }
}

@media (max-width: 500px) {
  header {
    padding-inline: 14px;
  }

  .section1 {
    padding-inline: 14px;
    height: 431px;
  }

  .section1 article h2 {
    font-size: 32px;
    line-height: 40px;
  }

  .section article p {
    font-size: 14px;
    line-height: 22px;
  }

  .section2 {
    padding: 48px 14px;
  }

  .section3 {
    padding-inline: 14px;
    margin-bottom: 48px;
  }

  .section3_card_right {
    flex-direction: column;
    row-gap: 20px;
  }

  .right_side_img {
    width: 100%;
  }
}
